PORT=5000
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/internship-platform

RAZORPAY_KEY_ID=rzp_test_xxxxxxxxxxxxxxxx
RAZORPAY_KEY_SECRET=xxxxxxxxxxxxxxxxxxxxxxxx

EMAIL_USER=your_gmail@gmail.com
EMAIL_PASS=your_gmail_app_password

FRONTEND_URL=http://localhost:3000
